* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700&display=swap');

body{
    font-family:'Roboto Slab', serif;
}

/* ---Header----*/

#header {
    color: #fff;
    padding-top: 5%;
}


.company-title {
    font-size: 40px;
    font-weight: 700;
    margin-top: 130px;
    color: #2D6F91;
}

.company-p{
    color: #276685;
}

.company-title:hover {
    color: #f5a425;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button button {
  background-color: #2D6F91;
  color: #eee;
  font-weight: 500;
}
 .button button:hover {
  background-color: #f5a425;
  border-color: transparent;
 }
/* Contact bar */

.bar-link {
    text-decoration: none;
    color:#2D6F91;
    display: inline-block;

}

@media (max-width: 770px) {
    .sub-header {
        display: none; 
    }
}

.sub-header {
    background-color: #eee;
  }
  
  .sub-header .left-content ul li {
    color: #2D6F91;
    padding: 8px 0px;
    font-size: 15px;
  }
  
  .sub-header .right-icons {
    text-align: right;
    padding: 8px 0px;
  }
  
  .sub-header .right-icons ul li {
    display: inline-block;
    margin-left: 10px;
  }

  .sub-header .left-content ul li {
    display: inline-block;
    margin-left: 15px;
  }
  
  .sub-header .right-icons ul li a {
    color: #2D6F91;
    font-size: 15px;
  }
  
  .sub-header .right-icons ul li a:hover {
    color: #f5a425;
}

.sub-header .left-content ul li a:hover {
  color: #f5a425;
}

/*----Navbar----*/ 
.navbar{
  background-color: #2D6F91;
  font-weight: 600;
}

.navbar-nav a:hover {
  color: #f5a425;
}

.navbar a{
  color: #eee;
}

.brand a:hover{
  color: #f5a425;
}
/* ======= Start Cards Section ======= */
.card{
    margin: 5% 0%;
  }
  
  .card-body{
    margin: 0% 0% 0% 3%;
    padding: 6% 0%;
  }
/* ======= End Cards Section ======= */
/* ===== Start Services ===== */
#portfolio-flters li {
    display: inline-block;
    font-weight: 500;
    color: var(--dark);
    cursor: pointer;
    transition: .5s;
    border-bottom: 2px solid transparent;
}

#portfolio-flters li:hover,
#portfolio-flters li.active {
    color: var(--primary);
    border-color: var(--primary);
}

.portfolio-item img {
    transition: .5s;
}

.portfolio-item:hover img {
    transform: scale(1.1);
}

.portfolio-item .portfolio-overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(98, 34, 204, .9);
    transition: .5s;
    opacity: 0;
}

.portfolio-item:hover .portfolio-overlay {
    opacity: 1;
}
/* ===== End Services ===== */

/* ======== Start Footer 01 ======== */
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a,
a:active,
a:focus {
    color: #333;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
max-width: 100%;
height: auto;
}
section {
    padding: 60px 0;
   /* min-height: 100vh;*/
}
.btn {
padding: 14px 25px;
text-transform: uppercase;
-webkit-transition: all 0.8s;
-moz-transition: all 0.8s;
-o-transition: all 0.8s;
transition: all 0.8s;
}
.red-btn {
background: #f5a425;
border: 2px solid #f5a425;
color: #fff;
}

.red-btn:hover{
background: #7bc295;
color: #fff;
border-color: #ffffff;
}

/* ======= Start footer ======= */
footer {
background-color: #2D6F91;
color: #fff;
padding-top: 50px;
font-size: 17px;
margin-bottom: 0;
}
footer h3 {
font-size: 24px;
font-weight: 600;
letter-spacing: 1px;
}
footer h4 {
font-size: 20px;
font-weight: 600;
letter-spacing: 1px;
display: inline-block;
margin-bottom: 2px;
}
.about-footer li i {
position: absolute;
left: 0;
}
.about-footer li {
padding-left: 40px;
position: relative;
margin-bottom: 40px;
}

.about-footer ul {
margin-top: 40px;
}

footer a {
color: #fff;
}

footer a:hover {
color: #f5a425;
}
.footer-title {
border-bottom: 2px solid #f5a425;
padding-bottom: 25px;
margin-bottom: 35px;
}

ul.footer-social {
float: right;
}

ul.footer-social li {
display: inline;
margin-right: 16px;
}

ul.footer-social i {
width: 30px;
height: 30px;
background: #fff;
color: #222025;
text-align: center;
line-height: 30px;
border-radius: 30px;
font-size: 16px;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
font-weight: 800;
}

ul.footer-social li:last-child {
margin-right: 0px;
}

ul.footer-social i:hover {
background: #f5a425;
color: #fff;
}

.page-more-info li {
margin-bottom: 31px;
}

footer .table td:first-child {
font-weight: 600;
padding-left: 33px;
}

footer .table td:last-child {text-align: right;}
footer .table td {
padding: 0px;
border: 0;
}

footer .table tr {
color: #f5a425;
}

footer .table td i {
position: absolute;
left: 0px;
font-size: 21px;
top: 6px;
}

footer .table td {
position: relative;
padding: 4px 0;
}
.footer-logo td {
padding-right: 4px !important;
}

.footer-logo td:last-child {
padding-right: 0px !important;
}
footer hr {
border-color: #9294a0;
}

.footer-bottom p {
text-align: right;
}
.footer-bottom {
margin-top: 30px;
margin-bottom: 0;
}
.open-hours hr {
margin: 30px 0;
}

/* ======== End Footer ======== */
