@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

*::selection {
  background-color: #2D6F91;
  color: #eee
}


body {
  font-family: 'Roboto Slab', serif;
}

/* ---Header----*/
#header {
  color: #fff;
  padding-top: 2%;
}

.company-title {
  font-size: 40px;
  font-weight: 700;
  margin-top: 130px;
  color: #2D6F91;
}

.company-p {
  color: #276685;
}

.company-title:hover {
  color: #f5a425;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button button {
  background-color: #2D6F91;
  border-color: transparent;
  color: #eee;
  font-weight: 500;
}

.button button:hover {
  background-color: #f5a425;
  border-color: transparent;
}

/* ======== Contact bar ======  */
.bar-link {
  text-decoration: none;
  color: #2D6F91;
  display: inline-block;

}

.sub-header {
  background-color: #F1F0E8;
}

.sub-header .left-content ul{
  padding: 0px 0px ;
  margin-bottom: 0;
}
.sub-header .left-content ul li {
  color: #2D6F91;
  padding: 8px 0px;
  font-size: 15px;
}

.sub-header .right-icons {
  text-align: right;
  padding:0px 0px;
}
.sub-header .right-icons ul li {
  display: inline-block;
  margin-top: 3px;
  margin-left: 10px;
  margin-bottom: 0px;
}

.sub-header .left-content ul li {
  display: inline-block;
  margin-left: 15px;
}

.sub-header .right-icons ul li a{
  color: #276685;
  font-size: 15px;
  text-decoration: none;
}

.sub-header .right-icons ul li a:hover {
  color: #f5a425;
  text-decoration: none;
}

.sub-header .left-content ul li a:hover {
  color: #f5a425;
  text-decoration: none;
}

.sub-header .left-content ul li a {
  color: #276685;
  text-decoration: none;
}

/* ====== Navbar ===== */
.fixed-navbar {
  z-index: 1030;
  transition: background-color 0.3s ease-in-out;
  background-color: whitesmoke;
  /* Add a semi-transparent background color */
}

/* Add a class to adjust the padding when the navbar is fixed */
.fixed-navbar-padding {
  padding-top: 50px;
  /* Adjust the padding based on your navbar height */
}

.navbar {
  background-color: white;
  margin: 0;
  padding: 0;
}

.navbar-nav .nav-link.active {
  color: #fdbc54;
  font-weight: 900;

}

.navbar-nav a:hover {
  color: #f5a425;
}

.navbar a {
  font-size: 1.2rem;
  color: #276685;
  margin-right: 20px !important;
  font-weight: 900;
}

.navbar a::before {
  content: '';
  position: absolute;
  bottom: -3px;
  width: 8%;
  height: 1px;
  background-color: #f5a425;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
}

.navbar-nav a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

nav h3 {
  color: #eee;
}

nav h3:hover {
  color: #f5a425;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.left-content ul li i {
  color: #f5a425;
}

.left-content ul li:nth-child(3) {
  color: #276685;
}

#navBtn {
  background-color: #276685;
  color: #eee;
  border: none;
  padding: 8px 15px;
}

#navBtn:hover {
  background-color: #f5a425;
  color: #eee;
  border: none;
}

/* ======= Start Header Section ======= */
.line {
  height: 6px;
  width: 30%;
  background: #276685;
  display: inline-block;
  border-radius: 10px;
}

/* =======End  Header Section ======= */

/* =======Start  Services Section ======= */

#services {
  margin-top: 20px;
  background: #f8f9fa;
  padding-bottom: 30px;
  padding-top: 30px;

}

.services-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 20px;
}

.services {
  padding: 20px;
  transition: 0.5s;
}

.services p {
  color: #000;
  font-size: 15px;
}

.services h4 {
  padding: 5px;
  margin-top: 20px;
  font-weight: 450;
  color: #276685;
  text-transform: uppercase;
}

.service-title {
  color: #276685;
}

.service-title::before {
  content: '';
  background: #f5a425;
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(63px);
  border-radius: 10px;
}

.services:hover {
  transform: translateY(-10px);
}


/* ===== Start Portofolio ===== */
.serv-title {
  font-size: 40px;
  font-weight: 700;
  color: #2D6F91;
}

#portfolio-flters li {
  display: inline-block;
  font-weight: 500;
  color: var(--dark);
  cursor: pointer;
  transition: .5s;
  border-bottom: 2px solid transparent;
}

#portfolio-flters li:hover,
#portfolio-flters li.active {
  color: var(--primary);
  border-color: var(--primary);
}

.portfolio-item img {
  transition: .5s;
}

.portfolio-item:hover img {
  transform: scale(1.1);
}

.portfolio-item .portfolio-overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(98, 34, 204, .9);
  transition: .5s;
  opacity: 0;
}

.portfolio-item:hover .portfolio-overlay {
  opacity: 1;
}

/* ===== End Portofolio ===== */


/* ======== Start partners Section  ==== */
.partner-icons img {
  width: 100%;
  height: auto;
  padding: 10px;
  transition: 0.5s;
}

.partner-icons img:hover {
  transform: translateY(-10px);
}

.partners-title h1 {
  padding: 10px;
  margin-top: 50px;
  font-weight: 450;
  color: #276685;
}


.partners-title h1::before {
  content: '';
  background: #f5a425;
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  display: block;
  transform: translateY(63px);
  border-radius: 10px;
}

.owl-carousel .item {
  height: 25vh;
  border: 2px solid rgba(45, 111, 145, 0.1);
  display: flex;
  /* Use flexbox for centering */
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  margin: 8px;
  border-radius: 10%;
}

.owl-carousel .item img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

/* ======== End partners Section  ==== */

/* ======== start why us  ==== */
#why-us {
  background: #f8f9fa;
  padding-bottom: 30px;
  padding-top: 30px;
}

.why-title2::before {
  content: '';
  background: #f5a425;
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  display: block;
  transform: translateY(63px);
  border-radius: 10px;
}

.why-title2 {
  color: #276685;
}

.why-title {
  font-size: 40px;
  margin-top: 2%;
  font-weight: 450;
  color: #276685;
}

.get-qoute {
  font-size: 20px;
  font-weight: 400;

}

#why-us ul li {
  margin: 10px 0;

}

#why-us ul {
  margin-left: 20px;
  list-style: square;
}

/* ======== End why us  ==== */

/* ======== Start Footer ** ======== */
/*** Footer ***/
.footer {
  background-color: rgb(47,112,144);
}

.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F1F0E8;
  border: 1px solid #F1F0E8;
  border-radius: 35px;
  transition: .3s;
  background-color: transparent;
}

.footer .btn.btn-social:hover {
  background-color: transparent;
  border: 1px solid #f5a425;
  color: #f5a425;
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: .3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
  color: var(--light);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, .3);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

#footerBtn {
  background-color: #f5a425;
  color: #eee;
  border: none;
}

#footerBtn:hover {
  background-color: #eb9b1b;
  color: #eee;
  border: none;
}
/* ======== End Footer ======== */

/* ======== custom Color ========  */
.orn-color {
  color: #f5a425;
}

/* ======== Start fixed icons ==== */
.whatsapp-icon {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 999;
}

.whatsapp-icon #whats-fixed {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
  border-radius: 50%;
  background-color: #25d366;
}

.whatsapp-icon ul {
  list-style-type: none;
}

.whatsapp-icon li ul {
  position: absolute;
  list-style: none;
  text-align: center;
  width: 180px;
  top: -135%;
  left: 35%;
  right: -100%;
  margin-left: -3%;
  font: bold 15px 'Open Sans Condensed', sans-serif;

  /* This is important for the show/hide CSS animation */
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: max-height 0.4s linear;
  -moz-transition: max-height 0.4s linear;
  transition: max-height 0.4s linear;
}

.whatsapp-icon li ul li {
  background-color: transparent;
  list-style-type: none;
}

.whatsapp-icon li ul li a {
  padding: 12px;
  color: #222025 !important;
  text-decoration: none !important;
  display: block;
}


.whatsapp-icon li ul li:hover {
  background-color: transparent;
}

.whatsapp-icon li ul li:first-child {
  border-radius: 3px 3px 0 0;
  margin-top: 5px;
  position: relative;
}

.whatsapp-icon li ul li:first-child:before {
  /* the pointer tip */
  content: '';
  position: absolute;
  width: 1px;
  height: 1px;
  border: 5px solid transparent;
  border-bottom-color: transparent;
  left: 3%;
  top: -5px;
  margin-left: -5px;
}

.whatsapp-icon li ul li:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* This will trigger the CSS */
/* transition animation on hover */

.whatsapp-icon li:hover ul {
  max-height: 200px;
  /* Increase when adding more dropdown items */
}

.up-arrow {
  position: fixed;
  bottom: 35px;
  right: 40px;
  z-index: 999;
}

.up-arrow i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #276685;
  padding: 15px 17px 20px 17px;
}

/* ======== End fixed icons  ==== */


/* =================================================================About Page =================================================================*/

/* ======== start about us  ==== */
.about-title {
  font-size: 30px;
  font-weight: 700;
  margin-top: 50px;
  color: #276685;
}

.about-p {
  font-size: 15px
}

/* ======== End about us ==== */


/* ================================================================= Contact Page =================================================================*/



/* ================================================================= Media Query  ================================================================ */

/* ======================================================= Home Page Media Query =================================================================*/
/* ====== Scroll Media Query ===== */
:root {

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: auto;
  }

}

/* ====== Sub-header Media Query ===== */
@media only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
  .sub-header {
    display: none;
  }
}
/* ====== Nav Btn  ===== */
@media only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
  #navBtn {
    margin-top: 10px;
  }
}
/* ====== about section in home ===== */
@media only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
  .company-title {
    margin-top: 70px;
    color: #2D6F91;
  }
  .header-content{
    margin-bottom: 50px;
    margin: auto;
  }
  .header-img{
    max-width: 80%;
    margin-bottom: 30px;
    margin: auto;
  }

}
/* ====== Partners Section Media Query ===== */
@media (max-width: 770px) {

  .owl-carousel {
    display: flex;
    justify-content: center;
    /* Center items horizontally */
    align-items: center;
  }

  .owl-carousel .item {
    width: 80%;
    /* Adjust this based on your design */
    max-width: 300px;
    /* Set a maximum width for items */
    margin: 0 auto;
  }
}

