@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

*::selection {
  background-color: #2D6F91;
  color: #eee
}

body {
  font-family: 'Roboto Slab', serif;
}

/* ---Header----*/

#header {
  color: #fff;
  padding-top: 2%;
}

.company-title {
  font-size: 40px;
  font-weight: 700;
  margin-top: 130px;
  color: #2D6F91;
}

.company-p {
  color: #276685;
}

.company-title:hover {
  color: #f5a425;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button button {
  background-color: #2D6F91;
  border-color: transparent;
  color: #eee;
  font-weight: 500;
}

.button button:hover {
  background-color: #f5a425;
  border-color: transparent;
}

/* ======== Contact bar ======  */
.bar-link {
  text-decoration: none;
  color: #2D6F91;
  display: inline-block;

}

@media (max-width: 770px) {
  .sub-header {
    display: none;
  }
}

.sub-header {
  background-color: #eee;
}

.sub-header .left-content ul li {
  color: #2D6F91;
  padding: 8px 0px;
  font-size: 15px;
}

.sub-header .right-icons {
  text-align: right;
  padding: 8px 0px;
}

.sub-header .right-icons ul li {
  display: inline-block;
  margin-left: 10px;
}

.sub-header .left-content ul li {
  display: inline-block;
  margin-left: 15px;
}

.sub-header .right-icons ul li a {
  color: #f5a425;
  font-size: 15px;
}

.sub-header .right-icons ul li a:hover {
  color: #276685;
}

.sub-header .left-content ul li a:hover {
  color: #f5a425;
}

/* ====== Navbar ===== */
.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
  transition: background-color 0.3s ease-in-out; /* Add a smooth transition effect */
  background-color: rgba(45, 111, 145, 0.9); /* Add a semi-transparent background color */
}

/* Add a class to adjust the padding when the navbar is fixed */
.fixed-navbar-padding {
  padding-top: 70px; /* Adjust the padding based on your navbar height */
}

.navbar {
  background-color: #2D6F91;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.navbar-nav .nav-link.active{
  color: #fdbc54; /* Change to your desired active color */
  font-weight: bold;
}

.navbar-nav a:hover {
  color: #f5a425;
}

.navbar a {
  color: #eee;
  margin-right: 20px !important;
  font-weight: 900;
}

.navbar a::before {
  content: '';
  position: absolute;
  bottom: -3px;
  width: 8%;
  height: 1px;
  background-color: #f5a425;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
}

.navbar-nav a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

#link-ul {
  position: relative;
  padding: 0 50px;
  display: flex;
  gap: 30px;
}

nav h3 {
  color: #eee;
}

nav h3:hover {
  color: #f5a425;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

/* ======= Start Header Section ======= */
.line {
  height: 6px;
  width: 30%;
  background: #276685;
  display: inline-block;
}

/* =======End  Header Section ======= */

/* ===== Start Services ===== */
.serv-title{
  font-size: 40px;
  font-weight: 700;
  color: #2D6F91;
}
#portfolio-flters li {
  display: inline-block;
  font-weight: 500;
  color: var(--dark);
  cursor: pointer;
  transition: .5s;
  border-bottom: 2px solid transparent;
}

#portfolio-flters li:hover,
#portfolio-flters li.active {
  color: var(--primary);
  border-color: var(--primary);
}

.portfolio-item img {
  transition: .5s;
}

.portfolio-item:hover img {
  transform: scale(1.1);
}

.portfolio-item .portfolio-overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(98, 34, 204, .9);
  transition: .5s;
  opacity: 0;
}

.portfolio-item:hover .portfolio-overlay {
  opacity: 1;
}

/* ===== End Services ===== */ 

/* ===== Start Testimonial ===== */
#testimonial-area {
  
	.section-heading h2 {
		font-size: 48px;
		line-height: 58px;
	}
}

.testi-wrap {
	position: relative;
	height: 725px;
	margin-top: -80px;
}

.client-single {
	margin-top: 20px;
	text-align: center;
	position: absolute;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}

.client-info,
.client-comment {
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.client-single {
	&.inactive {
		.client-comment,
		.client-info {
			display: none;
		}
		.client-comment,
		.client-info {
			opacity: 0;
			visibility: hidden;
		}
	}
	&.position-1 {
		-webkit-transform: scale(0.65);
		transform: scale(0.65);
	}
	&.position-2 {
		left: -40px;
		top: 105px;
	}
	&.position-3 {
		left: -60px;
		top: 240px;
		-webkit-transform: scale(0.4) !important;
		transform: scale(0.4) !important;
	}
	&.position-4 {
		left: 55px;
		top: 380px;
	}
	&.position-5 {
		top: 30px;
		right: 55px;
	}
	&.position-6 {
		top: 225px;
		right: -40px;
	}
	&.position-7 {
		top: 400px;
		right: 45px;
		-webkit-transform: scale(0.4) !important;
		transform: scale(0.4) !important;
	}
	&.active {
		top: 10%;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		z-index: 10;
		width: 70%;
		.client-comment,
		.client-info {
			-webkit-transition-delay: 0.6s;
			transition-delay: 0.6s;
		}
	}
	&:not(.active) {
		-webkit-transform: scale(0.55);
		transform: scale(0.55);
		z-index: 99;
	}
	&.active .client-img {
		width: 160px;
		height: 160px;
		margin: 0 auto 24px;
		position: relative;
		&:before {
			border-radius: 100%;
			content: '';
			background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(157, 91, 254)), to(rgb(56, 144, 254)));
			background-image: linear-gradient(180deg, rgb(157, 91, 254) 0%, rgb(56, 144, 254) 100%);
			padding: 5px;
			width: 160px;
			height: 160px;
			top: -4px;
			left: 0px;
			position: absolute;
			z-index: -1;
		}
	}
	.client-img img {
		width: 150px;
		border-radius: 50%;
		border: 8px solid #d1e9ff;
		cursor: pointer;
	}
	&.active .client-img img {
		max-width: 160px;
		margin: 0 auto 24px;
		border: 0;
	}
}

.client-comment {
	padding: 0 30px;
	h3 {
		font-size: 22px;
		line-height: 32px;
		color: #505b6d;
	}
	span i {
		font-size: 60px;
		color: #0084ff;
		margin: 40px 0 24px;
		display: inline-block;
	}
}

.client-info {
	h3 {
		color: #000;
		font-weight: 600;
		margin-bottom: 4px;
	}
	p {
		color: #0084ff;
		text-transform: uppercase;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	#testimonial-area .section-heading h2 {
		font-size: 30px;
	}
	.client-comment h3 {
		font-size: 18px;
		line-height: 28px;
	}
	.client-single.active {
		width: 60%;
	}
	.client-single:not(.active) {
		-webkit-transform: scale(0.55);
		transform: scale(0.35);
	}
	.client-single.position-3,
	.client-single.position-7 {
		-webkit-transform: scale(.30) !important;
		transform: scale(.30) !important;
	}
	.client-single.active .client-img img {
		max-width: 100px;
	}
	.client-single.active .client-img::before {
		padding: 5px;
		width: 108px;
		height: 108px;
		top: -4px;
		left: 6px;
	}
	.client-single.active .client-img {
		width: 120px;
		height: 100px;
	}
	.testi-wrap {
		height: 580px;
	}
	#testimonial-area {
		padding: 100px 0 0;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	#testimonial-area .section-heading h2 {
		font-size: 30px;
	}
	.client-comment h3 {
		font-size: 14px;
		line-height: 26px;
	}
	.client-single.active {
		width: 60%;
	}
	.client-comment span i {
		font-size: 40px;
	}
	.client-single:not(.active) {
		-webkit-transform: scale(0.55);
		transform: scale(0.35);
	}
	.client-single.position-5,
	.client-single.position-7 {
		right: 0;
	}
	.client-single.position-4 {
		left: 0;
	}
	.client-single.position-3,
	.client-single.position-7 {
		-webkit-transform: scale(.30) !important;
		transform: scale(.30) !important;
	}
	.client-single.active .client-img img {
		max-width: 80px;
	}
	.client-single.active .client-img::before {
		padding: 5px;
		width: 88px;
		height: 88px;
		top: -4px;
		left: 16px;
	}
	.client-single.active .client-img {
		width: 120px;
		height: 100px;
	}
	.testi-wrap {
		height: 630px;
	}
}

@media only screen and (min-width: 360px) and (max-width: 479px) {
	#testimonial-area .section-heading h2 {
		font-size: 30px;
		line-height: 40px
	}
	.client-comment h3 {
		font-size: 14px;
		line-height: 26px;
	}
	.client-single.active {
		width: 80%;
	}
	.client-comment span i {
		font-size: 40px;
	}
	.client-single:not(.active) {
		-webkit-transform: scale(0.25);
		transform: scale(0.25);
	}
	.client-single.position-5,
	.client-single.position-7,
	.client-single.position-6 {
		right: -70px;
	}
	.client-single.position-4 {
		left: -60px;
	}
	.client-single.position-3 {
		left: -75px;
	}
	.client-single.position-3,
	.client-single.position-7 {
		-webkit-transform: scale(.25) !important;
		transform: scale(.25) !important;
	}
	.client-single.active .client-img img {
		max-width: 80px;
	}
	.client-single.active .client-img::before {
		padding: 5px;
		width: 88px;
		height: 88px;
		top: -4px;
		left: 16px;
	}
	.client-single.active .client-img {
		width: 120px;
		height: 100px;
	}
	.testi-wrap {
		height: 600px;
	}
}

@media only screen and (min-width: 320px) and (max-width: 359px) {
	#testimonial-area .section-heading h2 {
		font-size: 30px;
	}
	.client-comment h3 {
		font-size: 14px;
		line-height: 26px;
	}
	.client-single.active {
		width: 80%;
	}
	.client-comment span i {
		font-size: 40px;
	}
	.client-single:not(.active) {
		-webkit-transform: scale(0.25);
		transform: scale(0.25);
	}
	.client-single.position-5,
	.client-single.position-7,
	.client-single.position-6 {
		right: -70px;
	}
	.client-single.position-4 {
		left: -60px;
	}
	.client-single.position-3 {
		left: -75px;
	}
	.client-single.position-3,
	.client-single.position-7 {
		-webkit-transform: scale(.25) !important;
		transform: scale(.25) !important;
	}
	.client-single.active .client-img img {
		max-width: 80px;
	}
	.client-single.active .client-img::before {
		padding: 5px;
		width: 88px;
		height: 88px;
		top: -4px;
		left: 16px;
	}
	.client-single.active .client-img {
		width: 120px;
		height: 100px;
	}
	.testi-wrap {
		height: 550px;
	}
}

/* ======== End Testimonial Section  ==== */

/* ======== Start partners Section  ==== */
.partner-title{
  font-size: 40px;
  font-weight: 700;
  color: #2D6F91;
}

.partner-icons img {
  width: 95px;
  padding: 20px;
  transition: 0.5s;
}
.partner-icons img:hover  {
  transform: translateY(-10px);
}

#partners p {
  font-size: 36px;
  font-weight: 600px;
  margin-bottom: 30px;
  margin-top: 20px;
  color: #213b52;
}

/* ======== End partners Section  ==== */

/* ======== Start Footer ** ======== */
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

a,
a:active,
a:focus {
  color: #333;
  text-decoration: none;
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: .2s;
  -ms-transition-duration: .2s;
  -moz-transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -o-transition-duration: .2s;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  padding: 14px 25px;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

.red-btn {
  background: #f5a425;
  border: 2px solid #f5a425;
  color: #fff;
}

.red-btn:hover {
  background: #7bc295;
  color: #fff;
  border-color: #ffffff;
}

/* ======= Start footer ======= */
footer {
  background-color: #2D6F91;
  color: #fff;
  padding-top: 50px;
  font-size: 17px;
  margin-bottom: 0;
}

footer h3 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
}

footer h4 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  margin-bottom: 2px;
}

.about-footer li i {
  position: absolute;
  left: 0;
}

.about-footer li {
  padding-left: 40px;
  position: relative;
  margin-bottom: 40px;
}

.about-footer ul {
  margin-top: 40px;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #f5a425;
}

.footer-title {
  border-bottom: 2px solid #f5a425;
  padding-bottom: 25px;
  margin-bottom: 35px;
}

ul.footer-social {
  float: right;
}

ul.footer-social li {
  display: inline;
  margin-right: 16px;
}

ul.footer-social i {
  width: 30px;
  height: 30px;
  background: #fff;
  color: #222025;
  text-align: center;
  line-height: 30px;
  border-radius: 30px;
  font-size: 16px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: 800;
}

ul.footer-social li:last-child {
  margin-right: 0px;
}

ul.footer-social i:hover {
  background: #f5a425;
  color: #fff;
}

.page-more-info li {
  margin-bottom: 31px;
}

footer .table td:first-child {
  font-weight: 600;
  padding-left: 33px;
}

footer .table td:last-child {
  text-align: right;
}

footer .table td {
  padding: 0px;
  border: 0;
}

footer .table tr {
  color: #f5a425;
}

footer .table td i {
  position: absolute;
  left: 0px;
  font-size: 21px;
  top: 6px;
}

footer .table td {
  position: relative;
  padding: 4px 0;
}

.footer-logo td {
  padding-right: 4px !important;
}

.footer-logo td:last-child {
  padding-right: 0px !important;
}

footer hr {
  border-color: #9294a0;
}

.footer-bottom p {
  text-align: right;
}

.footer-bottom {
  margin-top: 30px;
  margin-bottom: 0;
}

.open-hours hr {
  margin: 30px 0;
}

/* ======== End Footer ======== */

 /* ======== custom Color ========  */
 .orn-color {
  color: #f5a425;
}