* {
    margin: 0px;
    padding: 0px;
}

body{
    font-family:'Roboto Slab', serif;
}

/* ======= Start Cards Section ======= */
.card{
    margin: 5% 0%;
  }
  
  .card-body{
    margin: 0% 0% 0% 3%;
    padding: 6% 0%;
  }
/* ======= End Cards Section ======= */

/* ======== Start partnership ======== */
section.our-courses {
    background-image: url(../images/meetings-bg.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 140px;
    padding-bottom: 130px;
  }
  
  .our-courses .item .down-content {
    background-color: #fff;
  }
  
  .our-courses .item .down-content h4 {
    padding: 25px;
    font-size: 18px;
    color: #1f272b;
    text-align: center; 
    border-bottom: 1px solid #eee;
  }
  
  .our-courses .item .down-content .info {
    padding: 25px;
  }
  
  .our-courses .item .down-content .info ul li {
    display: inline-block;
    margin-right: 1px;
  }
  
  .our-courses .item .down-content .info ul li i {
    color: #f5a425;
    font-size: 14px;
  }
  
  .our-courses .item .down-content .info span {
    color: #a12c2f;
    font-size: 15px;
    font-weight: 600;
    text-align: right;
    display: inline-block;
    width: 100%;
  }
  
  .our-courses .owl-nav {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-45px);
  }
  
  .our-courses .owl-dots {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 40px;
  }
  
  .our-courses .owl-dots .owl-dot {
    transition: all .5s;
    width: 7px;
    height: 7px;
    background-color: #fff;
    margin: 0px 5px;
    border-radius: 50%;
    outline: none;
  }
  
  .our-courses .owl-dots .active {
    width: 24px;
    height: 8px;
    border-radius: 4px;
  }
      
  .our-courses .owl-nav .owl-prev{
    margin-right: 10px;
    outline: none;
    position: absolute;
    left: -80px;
  }
  
  .our-courses .owl-nav .owl-prev span,
  .our-courses .owl-nav .owl-next span {
    opacity: 0;
  }
  
  .our-courses .owl-nav .owl-prev:before {
    display: inline-block;
    font-family: 'FontAwesome';
    color: #1e1e1e;
    font-size: 25px;
    font-weight: 700;
    content: '\f104';
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
  }
  
  .our-courses .owl-nav .owl-prev {
    opacity: 1;
    transition: all .5s;
  }
  
  .our-courses .owl-nav .owl-prev:hover {
    opacity: 0.9;
  }
  
  .our-courses .owl-nav .owl-next {
    opacity: 1;
    transition: all .5s;
  }
  
  .our-courses .owl-nav .owl-next:hover {
    opacity: 0.9;
  }
  
  .our-courses .owl-nav .owl-next{
    margin-left: 10px;
    outline: none;
    position: absolute;
    right: -85px;
  }
  
  .our-courses .owl-nav .owl-next:before {
    display: inline-block;
    font-family: 'FontAwesome';
    color: #1e1e1e;
    font-size: 25px;
    font-weight: 700;
    content: '\f105';
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
  }
/* ======= End partnership ======= */

/* ======== Start Footer 01 ======== */
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a,
a:active,
a:focus {
    color: #333;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
max-width: 100%;
height: auto;
}
section {
    padding: 60px 0;
   /* min-height: 100vh;*/
}
.btn {
padding: 14px 25px;
text-transform: uppercase;
-webkit-transition: all 0.8s;
-moz-transition: all 0.8s;
-o-transition: all 0.8s;
transition: all 0.8s;
}
.red-btn {
background: #ed1b24;
border: 2px solid #ed1b24;
color: #fff;
}

.red-btn:hover{
background: #7bc295;
color: #fff;
border-color: #ffffff;
}

/* ======= Start footer ======= */
footer {
background-color: #222023;
background-image: -webkit-linear-gradient( top, #222023, #1e2c47 );
background-image: -moz-linear-gradient( top, #222023, #1e2c47 );
background-image: -o-linear-gradient( top, #222023, #1e2c47 );
background-image: linear-gradient( to bottom, #222023, #1e2c47 );
color: #fff;
padding: 220px 0;
font-size: 17px;
}
footer h3 {
font-size: 24px;
font-weight: 600;
letter-spacing: 1px;
}
footer h4 {
font-size: 20px;
font-weight: 600;
letter-spacing: 1px;
display: inline-block;
margin-bottom: 2px;
}
.about-footer li i {
position: absolute;
left: 0;
}
.about-footer li {
padding-left: 40px;
position: relative;
margin-bottom: 40px;
}

.about-footer ul {
margin-top: 40px;
}

footer a {
color: #fff;
}

footer a:hover {
color: #ed1b24;
}
.footer-title {
border-bottom: 2px solid #a61f2d;
padding-bottom: 25px;
margin-bottom: 35px;
}

ul.footer-social {
float: right;
}

ul.footer-social li {
display: inline;
margin-right: 16px;
}

ul.footer-social i {
width: 30px;
height: 30px;
background: #fff;
color: #222025;
text-align: center;
line-height: 30px;
border-radius: 30px;
font-size: 16px;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
font-weight: 800;
}

ul.footer-social li:last-child {
margin-right: 0px;
}

ul.footer-social i:hover {
background: #ed1b24;
color: #fff;
}

.page-more-info li {
margin-bottom: 31px;
}

footer .table td:first-child {
font-weight: 600;
padding-left: 33px;
}

footer .table td:last-child {text-align: right;}
footer .table td {
padding: 0px;
border: 0;
}

footer .table tr {
color: #ed1b24;
}

footer .table td i {
position: absolute;
left: 0px;
font-size: 21px;
top: 6px;
}

footer .table td {
position: relative;
padding: 4px 0;
}
.footer-logo td {
padding-right: 4px !important;
}

.footer-logo td:last-child {
padding-right: 0px !important;
}
footer hr {
border-color: #9294a0;
}

.footer-bottom p {
text-align: right;
}
.footer-bottom {
margin-top: 30px;
}
.open-hours hr {
margin: 30px 0;
}

/* ======== End Footer ======== */